<p class="title-section">{{data.structure.title}}</p>
<div class="container-video">
  {{#each (limit data.content.featuredSuperAppVideoOnDemandSections 5) }}
  <a href="app:vod/{{id}}" class="icon-video">
    <img src="{{sliderImgUrl}}" class="img-video" href="app:vod/{{id}}" />
    <span class="text-video">{{sectionName}}</span>
    <span class="desc-video">{{sectionCategory}}</span>
  </a>
  {{/each}}

  {{#if data.structure.more}}
    <div class="icon-video">
      <a id="see-more-video" href="app:vod/dashboard0">
        <span class="see-all" id="more-symbol"> + </span>
        <span class="see-all"> {{data.structure.more}} </span>
      </a>
    </div>
  {{/if}}
</div>
